#un{
    background-color: blueviolet;
    font-size: 55px;
    font-family: fantasy;
    font-style: italic;
     text-decoration: dashed underline;
}
.non{
    font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  color: hotpink;
  font-size: 65px;
  background-color: rgb(111, 163, 181);
}
*{
    background-color: bisque;
}
.two
{
    border-style:solid;
    width:fit-content
}